<h2>Employee Profile</h2>
<div>
    <h3><strong>Name</strong></h3>
    <p>{{user.firstName}} {{user.lastName}}</p>

    <br />

    <h3><strong>Email</strong></h3>
    <p>{{user.email}}</p>

    <br />

    <h3><strong>Employee ID</strong></h3>
    <p>{{user.id}}</p>
    
    <br />

    <h3><strong>DOB</strong></h3>
    <p>{{user.dob}}</p>

    <br />

    <h3><strong>Gender</strong></h3>
    <p>{{user.gender}}</p>

    <br />

    <h3><strong>Education</strong></h3>
    <p>{{user.education}}</p>
</div>

<br>
<div class="example-button-row">
    <button mat-raised-button routerLink="/employee/leave-application">Leave application</button>

</div>
